1. Python -  (Django would be ideal for architectural ease and future scalability)
2. SQL - For security and because the data model is set.
3. UI/UX doesn't have to be shiny but should provide basic functionality and be somewhat aesthetic
