
{% extends "./templates/base.html" %}

{% block content %}

{% load static %}

  <div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12 col-lg-6">
    {% comment %} <form class="" action="{% url 'form' %}" method="post">
      First Name: <input type="text" name="first_name" value="" id="first_name" />
      Last Name: <input type="text" name="last_name" value="" id="last_name" />
      Phone: <input type="text" name="phone" value="" id="phone" />
      Email: <input type="email" name="email" value="" id="email" />
      <input type="submit" name="" value="Login" />
    </form> {% endcomment %}

    <form class="" action="{% url 'form' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" placeholder="">
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" placeholder="">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" placeholder="">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </row>
  </container>


    <script type="text/javascript">
      let form = document.querySelector('form');
      let formFields = document.querySelectorAll('input');
      let storage;
      if (localStorage.length > 0) {
        storage = localStorage.getItem('userInfo').split(',')|| null;
      }

      if (storage != null) {
        for (let i = 0; i < storage.length; i++ ) {
          formFields[i].value = storage[i]
        }
      }
      form.addEventListener('submit', e => {
        let userInfo = [];
        for (let i = 0; i < formFields.length; i++) {
          if (formFields[i].value) {
            userInfo.push(formFields[i].value)
          }
        }
        localStorage.setItem('userInfo', userInfo);
        let j = localStorage.getItem('userInfo')
        console.log(j)
      })
    </script>

    
{% endblock content %}
